@import "tailwindcss";

@theme inline {
  --color-primary: #0066FF;
  --color-primary-hover: #005ce6;
  --color-background: #ffffff;
  --color-foreground: #000000;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-muted: #f9fafb;
  --color-muted-foreground: #6b7280;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.bg-grid-pattern {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(0, 102, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 102, 255, 0.05) 1px, transparent 1px);
}

/* For continuous marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
